.prism {
  &_lineNumbers {
    counter-reset: linenumber;
  }

  code {
    margin-left: 30px;
  }

  &-lines {
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    letter-spacing: -1px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 34px;
      bottom: 0;
      width: 1px;
      background: #999999;
    }
  }

  &-line {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;

    &:before {
      content: counter(linenumber);
      color: #999;
      display: block;
      width: 24px;
      text-align: right;
    }
  }
}

