

@mixin prism() {
  position: relative;
  padding: 20px 20px 20px 10px !important;
  font-size: 0;
  margin: 0 0 20px;

  &:before {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #acacac;
    font-size: 12px;
    font-weight: 900;
  }

  &[class*=language-]:before {
    content: attr(data-language);
  }

  code {
    display: block;
    overflow: auto;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    font-size: 14px;

    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

  }
}
