

@mixin prism() {
  position: relative;
  padding: 20px;
  overflow: auto;

  &:before {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #888;
    font-size: 14px;
  }

  &[class*=language-]:before {
    content: attr(data-language);
  }
}
