/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
.prism {
  padding: 20px;
  overflow: auto; }
  .prism,
  .prism code {
    background: #2d2d2d;
    color: #ccc;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .prism .token.comment,
  .prism .token.block-comment,
  .prism .token.prolog,
  .prism .token.doctype,
  .prism .token.cdata {
    color: #999; }
  .prism .token.punctuation {
    color: #ccc; }
  .prism .token.tag,
  .prism .token.attr-name,
  .prism .token.namespace,
  .prism .token.deleted {
    color: #e2777a; }
  .prism .token.function-name {
    color: #6196cc; }
  .prism .token.boolean,
  .prism .token.number,
  .prism .token.function {
    color: #f08d49; }
  .prism .token.property,
  .prism .token.class-name,
  .prism .token.constant,
  .prism .token.symbol {
    color: #f8c555; }
  .prism .token.selector,
  .prism .token.important,
  .prism .token.atrule,
  .prism .token.keyword,
  .prism .token.builtin {
    color: #cc99cd; }
  .prism .token.string,
  .prism .token.char,
  .prism .token.attr-value,
  .prism .token.regex,
  .prism .token.variable {
    color: #7ec699; }
  .prism .token.operator,
  .prism .token.entity,
  .prism .token.url {
    color: #67cdcc; }
  .prism .token.important,
  .prism .token.bold {
    font-weight: bold; }
  .prism .token.italic {
    font-style: italic; }
  .prism .token.entity {
    cursor: help; }
  .prism .token.inserted {
    color: green; }
