/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.prism {
  position: relative;
  padding: 20px 20px 0 20px;
  font-size: 0;
  background: #f5f2f0; }
  .prism:before {
    position: absolute;
    right: 8px;
    top: 5px;
    color: #acacac;
    font-size: 12px;
    font-weight: 900; }
  .prism:before {
    content: attr(data-language); }
  .prism code {
    position: relative;
    display: block;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    font-size: 14px;
    padding: 0 0 20px;
    white-space: pre;
    overflow: auto;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
  .prism-highlight {
    background: rgba(249, 125, 2, 0.2); }
  .prism code {
    color: #222; }
  @media print {
    .prism,
    .prism code {
      text-shadow: none; } }
  .prism .token.comment,
  .prism .token.prolog,
  .prism .token.doctype,
  .prism .token.cdata {
    color: slategray; }
  .prism .token.punctuation {
    color: #999; }
  .prism .namespace {
    opacity: .7; }
  .prism .token.property,
  .prism .token.tag,
  .prism .token.boolean,
  .prism .token.number,
  .prism .token.constant,
  .prism .token.symbol,
  .prism .token.deleted {
    color: #905; }
  .prism .token.selector,
  .prism .token.attr-name,
  .prism .token.string,
  .prism .token.char,
  .prism .token.builtin,
  .prism .token.inserted {
    color: #690; }
  .prism .token.operator,
  .prism .token.entity,
  .prism .token.url,
  .prism .language-css .token.string,
  .prism .style .token.string {
    color: #9a6e3a; }
  .prism .token.atrule,
  .prism .token.attr-value,
  .prism .token.keyword {
    color: #07a; }
  .prism .token.function,
  .prism .token.class-name {
    color: #DD4A68; }
  .prism .token.regex,
  .prism .token.important,
  .prism .token.variable {
    color: #e90; }
  .prism .token.important,
  .prism .token.bold {
    font-weight: bold; }
  .prism .token.italic {
    font-style: italic; }
  .prism .token.entity {
    cursor: help; }
